body{
	background-color: black;
	margin: 0px;
	height: 90%;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

#fadeletters{
	height: 40%;
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 110px;
	background-image: url("./images/chanoButton.png");
	background-size: cover;
}

#titleDiv{
	background-color: black;
	height: 176px;
}

.letterDiv{
	width: 16.666%;
	margin: 0px;
	float: left;
	font-size: 150px;
	text-align: center;
	background-color: black;
	background-size: cover;
}

#mainDiv{
	width: 95%;
	height: 70%;
	margin-top: 20px;
	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 10px;
	display: block;
}

.choiceDiv{
	width: 100%;
	height: 23%;
	float: left;
	margin: 1%;
	text-align: center;
}

.choiceButton{
	width: 700px;
	height: 100px;
	background-image: url("./images/tenButtonskin.png");
	background-size: contain;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-width: 0px;
	z-index: 1;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 150%;
}

#choice1B{

}

.buttonTextDiv{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#scoreScreen{
	height: 200px;
	width: 500px;
	display: block;
	background-color: green;

	position:absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;

}
.scoreContents{
	width: 496px;
	height: 70px;
	float: left;
	text-align: center;
	border-style: solid;
    border-width: 2px;
    border-bottom: 1px;
}
#scoreScreenScore{
	width: 246px;
	height: 54px;
	float: left;
	border-width: 2px;
	border-bottom: 2px;
	border-style: solid;
}
#scoreScreenNext{
	width: 246px;
	height: 54px;
	float: right;
	border-width: 2px;
	border-bottom: 2px;
	border-style: solid;
}
